In [41]:
# IMPORTANDO AS BIBLIOTECAS

In [42]:
import pandas as pd

In [43]:
#LEITURA DOS DADOS

In [44]:
df = pd.read_csv('desafio1.csv')

# ANÁLISE DOS DADOS

In [45]:
#Este comando exibe o tipo de cada variável

In [46]:
df.dtypes

RowNumber                     int64
id                           object
sobrenome                    object
pontuacao_credito             int64
estado_residencia            object
genero                       object
idade                         int64
nivel_estabilidade            int64
saldo_conta                 float64
numero_produtos               int64
possui_cartao_de_credito      int64
membro_ativo                  int64
dtype: object

In [47]:
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [48]:
#Realizando uma análise para ver se há dados faltantes

In [49]:
# Conferindo se tem dados faltantes
aux = pd.DataFrame({'colunas': df.columns,
                    'tipos': df.dtypes,
                    '%_faltante': df.isnull().sum() / df.shape[0]})
aux

                                           colunas    tipos  %_faltante
RowNumber                                RowNumber    int64         0.0
id                                              id   object         0.0
sobrenome                                sobrenome   object         0.0
pontuacao_credito                pontuacao_credito    int64         0.0
estado_residencia                estado_residencia   object         0.0
genero                                      genero   object         0.0
idade                                        idade    int64         0.0
nivel_estabilidade              nivel_estabilidade    int64         0.0
saldo_conta                            saldo_conta  float64         0.0
numero_produtos                    numero_produtos    int64         0.0
possui_cartao_de_credito  possui_cartao_de_credito    int64         0.0
membro_ativo                          membro_ativo    int64         0.0

In [50]:
# Verifica-se acima que não há dados faltantes.

In [ ]:
# Análise estatística univariada da coluna 'pontuacao_credito'

In [60]:
df['pontuacao_credito'].describe()

count    7000.000000
mean      649.787000
std        97.046279
min       350.000000
25%       582.000000
50%       651.000000
75%       717.000000
max       850.000000
Name: pontuacao_credito, dtype: float64

In [51]:
#Cálculo da Moda

In [52]:
moda = df.groupby('estado_residencia')['pontuacao_credito'].aggregate(lambda x: x.mode()).astype('float').sort_index(ascending=False)
moda.rename("moda", inplace = True)

estado_residencia
SC    850.0
RS    850.0
PR    850.0
Name: moda, dtype: float64

In [53]:
#Cálculo da Mediana

In [54]:
mediana = df.groupby('estado_residencia')['pontuacao_credito'].median().astype('float').sort_index(ascending=False)
mediana.rename("mediana", inplace = True)

estado_residencia
SC    653.0
RS    650.0
PR    650.0
Name: mediana, dtype: float64

In [55]:
#Cálculo da Média

In [56]:
media = df.groupby('estado_residencia')['pontuacao_credito'].mean().astype('float').sort_index(ascending=False)
media.rename("media", inplace = True)

estado_residencia
SC    649.537653
RS    651.105143
PR    648.961294
Name: media, dtype: float64

In [57]:
#Desvio Padrao
desvio_padrao = df.groupby('estado_residencia')['pontuacao_credito'].std().astype('float').sort_index(ascending=False)
desvio_padrao.rename("desvio_padrao", inplace = True)

estado_residencia
SC    97.233493
RS    95.136598
PR    98.607186
Name: desvio_padrao, dtype: float64

In [58]:
#Concatenar
aux = pd.concat([moda, mediana, media, desvio_padrao], axis = 1)

In [59]:
#Saída arquivo json
aux.to_json('submission.json', orient='index')